body {
    background-color: black;
	background-image: url("images/welcomebg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
}

#buttonWrapper{
	visibility: hidden;
	width: 100%;
	height: 40px;
	padding: 15px 15px;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
}

logo{
	position:fixed;
    left:57%;
    top:15px;
	padding: 1px 1px;
	visibility: hidden;
}

input[type=text] {
	float: right;
    width: 250px;
	margin-top: -5px;
	margin-right : 100px;
    box-sizing: border-box;
    border: 3px solid #1B96FE;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
	background-size: 25px;
    background-position: 8px 8px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.6s ease-in-out;
}

input[type=text]:focus {
    width: 15%;
}

.button{
	color: white;
	text-align: center;
	display: inline-block;
	padding: 15px 10px;
	border-radius: 20px;
	cursor: pointer;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 30px;
    width: 250px;
	font-size: 30px;
	background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #1578CB), color-stop(100%, #1B96FE));
}

.button:active{
	background-color: #3271e7;
}

.button2{
	color: white;
	background-color: #1B96FE;
	text-align: center;
	display: inline-block;
	padding: 15px 10px;
	border-radius: 12px;
	cursor: pointer;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	position:fixed;
    height: 15px;
    width: 150px;
    left:45%;
    top:10px;
	visibility: hidden;
	background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #1578CB), color-stop(100%, #1B96FE));
}

.button2:active{
	background-color: #3271e7;
}

#info{
	visibility: hidden;
	text-align: left;
	text-indent: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 700px;
	display: inline-block;
	color: white;
	background-color: black;
	background-color:rgba(0, 0, 0, 0.9);
}
#overview{
	text-align: center;
	padding: 0px 20px;
	width: 700px;
	display: inline-block;
	color: white;
	background-color: black;
	background-color:rgba(0, 0, 0, 0.9);
	margin-bottom: 50px;
}
	
#trailerDisplay{
	text-align: center;
	margin-top: 70px;
	padding: 10px 10px;
	height: 422px;
}


